## Importing Libraries

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.manifold import TSNE

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

## Preprocessing

In [82]:
path = "./drive/My Drive/data/"
train_path = path+"Train.csv"
test_path = path+"Test.csv"

train_df = pd.read_csv(train_path)
test_df = pd.read_csv(test_path)
train_df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (746,835) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (700,731,740,752,761,789,811,820,829,841,850) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

        Col1  Col2          Col3  ...  Col2395  Col2396  Col2397
0    RIGHGSN     1  1.086711e+04  ...     22.0     22.0      7.0
1  RIMHI5ZGP     0  2.584312e+05  ...     12.0     12.0     11.0
2  RIHOG1SZU     0  1.459355e+07  ...     21.0     21.0     16.0
3  RIHOLMQWU     0  6.727043e+05  ...    951.0    951.0    743.0
4  RIHO584ET     0 -1.218742e+06  ...   2205.0   2205.0   1831.0

[5 rows x 2395 columns]

In [5]:
test_df.sample(5)

           Col1         Col3         Col4  ...  Col2395  Col2396  Col2397
14764  O1WWO85W  18516.44667  16424.85500  ...     12.0     12.0      5.0
7879   7N0HGOYW  14857.57667  18999.84833  ...      5.0      4.0      1.0
14720  O1WBIS4D  21610.29333  13576.41000  ...      9.0      9.0      4.0
3999   O1HWIMQE  93451.60333  77058.73500  ...     15.0     13.0      6.0
18473  O1YKLS55      0.00000      0.00000  ...      NaN      NaN      NaN

[5 rows x 2394 columns]

1st column is ID and Second columns is Target variable

In [0]:
# Adding one because we will split at this point
train_last_index = 17521

In [26]:
train_df.shape, test_df.shape

((17521, 2395), (20442, 2394))

## TODO:Combine test train and process

In [27]:
X = pd.concat((train_df.iloc[:,2:],test_df.iloc[:,1:]),axis=0)

X.shape

(37963, 2393)

In [0]:
# Columns Null check
def null_cols(d,columns):
  na = d[columns].isna().sum().sort_values(ascending=False)
  return na[na > 0].index.to_list()

In [0]:
X.

In [30]:
# Numerical columns
num_cols = X.select_dtypes(include="number").columns
print('Total',len(num_cols))

na_cols = null_cols(X,num_cols)
print('1.Null columns',len(na_cols))

if len(na_cols) > 0:
  X[na_cols]= X[na_cols].fillna(method='ffill')
  X[na_cols]= X[na_cols].fillna(method='bfill')
  na_cols = null_cols(X,num_cols)
  print('2.Null columns',len(na_cols))

Total 2380
1.Null columns 746
2.Null columns 0

### Categorical columns

In [31]:
cat_cols = X.select_dtypes(exclude="number").columns.to_list()

print('Total',len(cat_cols))
na_cols = null_cols(X,cat_cols)
print('1.Null columns',len(na_cols))

if len(na_cols) > 0:
  X[na_cols]= X[na_cols].fillna(method='ffill')
  X[na_cols]= X[na_cols].fillna(method='bfill')
  na_cols = null_cols(X,cat_cols)
  print('2.Null columns',len(na_cols))

Total 13
1.Null columns 13
2.Null columns 0

In [42]:
for col in cat_cols:
  print('Before',X[col].value_counts())
  X[col] = X[col].replace({0.0:0,'-':2})
#   print('After',X[col].value_counts(),'\n')

Before 0.0                     37326
0                         231
0.058166302999999996      165
0.057142859000000004      103
0.255550626                97
0.07985957099999999        16
-                          11
0.44261957799999996         8
0.069985428                 6
Name: Col702, dtype: int64
After 0                       37326
0                         231
0.058166302999999996      165
0.057142859000000004      103
0.255550626                97
0.07985957099999999        16
2                          11
0.44261957799999996         8
0.069985428                 6
Name: Col702, dtype: int64

Before 0                       9420
-                       3604
0.349927106             1518
0.447213596             1423
0.0                     1392
0.283473355             1060
-0.2                    1022
0.223606798              779
0.188982237              691
0.06998542099999999      578
0.6                      439
0.20995626399999998      417
0.2                      404
-0.06998542099999999     398
-0.447213595             366
-0.223606798             357
0.094491118              297
-0.349927106             291
0.5477225579999999       242
0.0                      237
-0.09449111800000001     225
-0.6                     222
0.44262666799999995      216
0.40089186299999996      207
-0.20995626399999998     206
0.19704237               173
-0.197495461             172
-0.283473355             166
0.09449111800000001      160
-0.146846655             158
                        ...
0.150926773                2
-0.121201531               2
0.565673965                2
0.47560285399999996        2
0.455480868                2
0.428811668                2
0.056989505999999995       2
0.387298335                2
-0.099085423               2
0.42829297899999996        2
0.361351114                2
0.316924765                2
0.489176781                2
0.574616734                2
0.25562899699999997        1
-0.15670234800000002       1
0.258774585                1
-0.01362417                1
-0.18898223600000003       1
0.522869393                1
0.18547343100000002        1
0.392116029                1
7                          1
-0.000361136               1
0.356429936                1
-0.227993101               1
0.039904182                1
0.446132095                1
0.208628025                1
-0.063921486               1
Name: Col733, Length: 391, dtype: int64
After 0                       9420
2                       3604
0.349927106             1518
0.447213596             1423
0                       1392
0.283473355             1060
-0.2                    1022
0.223606798              779
0.188982237              691
0.06998542099999999      578
0.6                      439
0.20995626399999998      417
0.2                      404
-0.06998542099999999     398
-0.447213595             366
-0.223606798             357
0.094491118              297
-0.349927106             291
0.5477225579999999       242
0.0                      237
-0.09449111800000001     225
-0.6                     222
0.44262666799999995      216
0.40089186299999996      207
-0.20995626399999998     206
0.19704237               173
-0.197495461             172
-0.283473355             166
0.09449111800000001      160
-0.146846655             158
                        ...
0.428811668                2
0.056989505999999995       2
0.387298335                2
0.565673965                2
0.574616734                2
-0.121201531               2
0.47560285399999996        2
0.489176781                2
0.455480868                2
0.150926773                2
-0.099085423               2
0.316924765                2
0.361351114                2
0.42829297899999996        2
0.25562899699999997        1
0.208628025                1
0.446132095                1
0.039904182                1
-0.227993101               1
0.356429936                1
-0.063921486               1
-0.000361136               1
0.258774585                1
-0.01362417                1
-0.15670234800000002       1
-0.18898223600000003       1
0.18547343100000002        1
0.392116029                1
0.522869393                1
7                          1
Name: Col733, Length: 391, dtype: int64

Before -                       4475
-0.349927106            3628
-0.447213595            2239
-0.223606798            1748
0                       1609
0.06998542099999999     1588
-0.188982237            1450
-0.06998542099999999    1299
-0.20995626399999998    1209
-0.09449111800000001    1180
0.0                     1166
-0.6                    1038
0.349927106             1025
-0.209956264             937
-0.283473355             911
0.223606798              851
0.283473355              839
0.447213596              726
0.20995626399999998      705
0.188982237              613
0.6                      559
-0.2                     472
-0.5477225579999999      447
0.09449111800000001      377
0.2                      342
0.209956264              332
0.094491118              290
-3.97e-18                276
3.97e-18                 272
-0.094491118             225
                        ...
0.349927106                2
-0.076149706               2
0.125054101                2
-0.08717959300000001       2
-0.40316704200000003       2
-0.220479276               2
-0.479868704               2
-0.170940865               2
-0.20659082199999998       2
-0.659735063               2
0.224747745                2
0.129587819                2
-0.377921275               2
0.347415301                2
-0.303532502               2
-0.431532011               1
-0.365962527               1
-5.95e-18                  1
0.19098210399999999        1
-0.11084534                1
0.34745409200000005        1
-0.10244816699999999       1
-0.007523264               1
-0.13453732699999998       1
0.054187097999999996       1
0.305620332                1
-0.28679471                1
-0.565685425               1
0.447213596                1
0.103436833                1
Name: Col742, Length: 231, dtype: int64
After 2                       4475
-0.349927106            3628
-0.447213595            2239
-0.223606798            1748
0                       1609
0.06998542099999999     1588
-0.188982237            1450
-0.06998542099999999    1299
-0.20995626399999998    1209
-0.09449111800000001    1180
0                       1166
-0.6                    1038
0.349927106             1025
-0.209956264             937
-0.283473355             911
0.223606798              851
0.283473355              839
0.447213596              726
0.20995626399999998      705
0.188982237              613
0.6                      559
-0.2                     472
-0.5477225579999999      447
0.09449111800000001      377
0.2                      342
0.209956264              332
0.094491118              290
-3.97e-18                276
3.97e-18                 272
-0.094491118             225
                        ...
0.349927106                2
-0.076149706               2
0.125054101                2
-0.08717959300000001       2
-0.40316704200000003       2
-0.14942108099999998       2
-0.220479276               2
-0.479868704               2
-0.170940865               2
-0.20659082199999998       2
-0.659735063               2
0.224747745                2
0.129587819                2
0.347415301                2
-0.303532502               2
-0.365962527               1
-0.007523264               1
-5.95e-18                  1
0.19098210399999999        1
-0.11084534                1
0.34745409200000005        1
-0.10244816699999999       1
-0.565685425               1
-0.431532011               1
-0.13453732699999998       1
0.103436833                1
0.305620332                1
-0.28679471                1
0.447213596                1
0.054187097999999996       1
Name: Col742, Length: 231, dtype: int64

Before 0                       12058
-                        3219
0.0                      2495
0.447213596              1202
0.349927106              1055
0.6                       884
-0.06998542099999999      645
0.223606798               580
0.283473355               564
0.209956264               446
-0.094491118              428
-0.209956264              388
0.06998542099999999       369
0.442626668               336
0.5477225579999999        332
0.188982237               323
-0.188982237              319
0.2                       312
0.088029854               276
5.55e-18                  259
-0.441428587              221
-0.283473355              221
0.469476478               209
-0.349927106              149
-0.003454983              139
0.127321581               131
0.433781801               127
-0.184559693              127
-0.223606798              118
0.375690865               113
                        ...
0.31122444                  3
0.480610617                 3
0.411269288                 3
0.358667877                 3
0.364352904                 3
0.295011544                 3
0.5256296979999999          3
-0.457893899                2
0.499335243                 2
0.6560852429999999          2
0.287516201                 2
0.426372039                 2
-0.122547966                2
0.190878759                 2
0.726050799                 2
-0.033010613                2
-0.326876901                2
0.326231941                 2
0.025276665                 1
0.000400301                 1
-0.22219095100000005        1
-0.284987596                1
-0.221313334                1
0.661867961                 1
0.118531549                 1
-0.020720879                1
0.382595064                 1
0.225025463                 1
0.504156438                 1
0.430329703                 1
Name: Col747, Length: 371, dtype: int64
After 0                       12058
2                        3219
0                        2495
0.447213596              1202
0.349927106              1055
0.6                       884
-0.06998542099999999      645
0.223606798               580
0.283473355               564
0.209956264               446
-0.094491118              428
-0.209956264              388
0.06998542099999999       369
0.442626668               336
0.5477225579999999        332
0.188982237               323
-0.188982237              319
0.2                       312
0.088029854               276
5.55e-18                  259
-0.441428587              221
-0.283473355              221
0.469476478               209
-0.349927106              149
-0.003454983              139
0.127321581               131
0.433781801               127
-0.184559693              127
-0.223606798              118
0.375690865               113
                        ...
0.31122444                  3
0.480610617                 3
0.358667877                 3
0.411269288                 3
0.295011544                 3
0.364352904                 3
0.5256296979999999          3
-0.457893899                2
0.6560852429999999          2
0.287516201                 2
0.426372039                 2
-0.122547966                2
0.499335243                 2
0.726050799                 2
-0.033010613                2
-0.326876901                2
0.190878759                 2
0.326231941                 2
0.661867961                 1
0.000400301                 1
-0.22219095100000005        1
0.025276665                 1
-0.284987596                1
-0.221313334                1
0.118531549                 1
0.382595064                 1
-0.020720879                1
0.504156438                 1
0.225025463                 1
0.430329703                 1
Name: Col747, Length: 371, dtype: int64

Before 0.0                      11122
0                        10767
-                         2451
0.0                        469
-0.2                       223
-0.349927106               162
0.447213596                144
0.349927106                133
-0.131222546               116
-0.127775358               102
0.218704078                 98
-0.04373652                 96
-0.200000089                96
0.255550626                 95
0.1                         93
-0.017596344                93
0.223606798                 91
-0.188987065                89
0.6000000010000001          83
0.18898242                  82
0.343992187                 81
0.10775377900000001         80
0.330142863                 79
0.3                         79
0.349927104                 78
-0.447213374                78
0.328114847                 76
0.218704445                 72
0.22362595899999999         71
0.043741133                 71
                         ...
-0.007781428000000001        1
0.16604543300000002          1
0.300000059                  1
0.06998560599999999          1
0.265480524                  1
-0.218704263                 1
0.043740868                  1
0.19999991600000003          1
0.299999996                  1
0.177320552                  1
0.299999946                  1
-0.22360674100000005         1
-0.247263164                 1
0.200000048                  1
-0.093631335                 1
0.49667021200000006          1
0.07001139599999999          1
0.255550624                  1
0.095831456                  1
-0.21870438899999997         1
-0.188981066                 1
0.421185266                  1
0.256412682                  1
0.173205107                  1
-0.188988625                 1
0.201936552                  1
0.167354138                  1
0.055430167                  1
-0.127775505                 1
0.173206903                  1
Name: Col754, Length: 746, dtype: int64
After 0                       11122
0                       10767
2                        2451
0.0                       469
-0.2                      223
-0.349927106              162
0.447213596               144
0.349927106               133
-0.131222546              116
-0.127775358              102
0.218704078                98
-0.200000089               96
-0.04373652                96
0.255550626                95
0.1                        93
-0.017596344               93
0.223606798                91
-0.188987065               89
0.6000000010000001         83
0.18898242                 82
0.343992187                81
0.10775377900000001        80
0.330142863                79
0.3                        79
-0.447213374               78
0.349927104                78
0.328114847                76
0.218704445                72
0.22362595899999999        71
0.043741133                71
                        ...
0.16604543300000002         1
0.300000059                 1
0.06998560599999999         1
0.265480524                 1
-0.218704263                1
0.043740868                 1
0.19999991600000003         1
0.299999996                 1
0.177320552                 1
0.421185266                 1
0.218704547                 1
-0.22360674100000005        1
0.200000048                 1
-0.093631335                1
0.49667021200000006         1
0.07001139599999999         1
0.255550624                 1
0.095831456                 1
-0.21870438899999997        1
-0.247263164                1
-0.188981066                1
0.173205107                 1
0.256412682                 1
-0.188988625                1
0.201936552                 1
0.167354138                 1
0.295937665                 1
0.055430167                 1
-0.127775505                1
0.173206903                 1
Name: Col754, Length: 746, dtype: int64

Before 0.0                      12843
0                         3691
-                         2416
-0.349927106              1342
-0.447213595               664
0.06998542099999999        547
-0.283473355               457
-0.223606798               423
-0.06998542099999999       416
-0.20995626399999998       372
0.349927106                328
-0.255550626               316
-0.6                       303
0.20995626399999998        285
-0.447213596               284
-0.09449111800000001       211
0.6                        204
-0.3                       200
0.223606798                182
-0.188982237               173
0.283473355                148
0.127775313                142
0.209956264                138
0.09449111800000001        124
0.255550626                123
-0.209956264               116
-0.209956263               113
-0.127775314               107
-0.159719141               105
-0.18898223600000005       103
                         ...
-0.143747227                 1
-0.02523959                  1
0.357770876                  1
-0.23094010899999998         1
-0.130543303                 1
-0.09470564599999999         1
-0.20000000199999998         1
-0.265072579                 1
0.127775312                  1
-0.15971914199999998         1
-0.448595171                 1
0.35322425                   1
-0.056055214000000006        1
0.223606814                  1
0.447213596                  1
-0.283473352                 1
-0.008949851                 1
-0.228878618                 1
-0.18898224                  1
-0.196210852                 1
-0.183224904                 1
-0.173205081                 1
0.043740893                  1
-0.20000002                  1
-0.288675136                 1
-0.34970360799999994         1
0.094355411                  1
-0.080812254                 1
-0.025555063                 1
-0.233284734                 1
Name: Col763, Length: 596, dtype: int64
After 0                        12843
0                         3691
2                         2416
-0.349927106              1342
-0.447213595               664
0.06998542099999999        547
-0.283473355               457
-0.223606798               423
-0.06998542099999999       416
-0.20995626399999998       372
0.349927106                328
-0.255550626               316
-0.6                       303
0.20995626399999998        285
-0.447213596               284
-0.09449111800000001       211
0.6                        204
-0.3                       200
0.223606798                182
-0.188982237               173
0.283473355                148
0.127775313                142
0.209956264                138
0.09449111800000001        124
0.255550626                123
-0.209956264               116
-0.209956263               113
-0.127775314               107
-0.159719141               105
-0.18898223600000005       103
                         ...
-0.18898224                  1
-0.23094010899999998         1
0.357770876                  1
-0.15971914199999998         1
0.188966515                  1
-0.02523959                  1
0.35322425                   1
-0.056055214000000006        1
-0.143747227                 1
0.223606814                  1
-0.15                        1
0.447213596                  1
-0.228878618                 1
-0.20000002                  1
-0.196210852                 1
-0.28867513300000003         1
-0.008949851                 1
0.094355411                  1
0.171428571                  1
-0.183224904                 1
-0.173205081                 1
-0.25555062                  1
0.043740892999999996         1
-0.335441673                 1
-0.288675136                 1
-0.265072579                 1
-0.228016875                 1
-0.025555063                 1
-0.080812254                 1
-0.233284734                 1
Name: Col763, Length: 596, dtype: int64

Before 0.0                     37055
0                         442
-0.020091829              165
0.057142859000000004      103
0.255550626                97
-                          71
0.127775314                16
0.44261957799999996         8
0.069985428                 6
Name: Col791, dtype: int64
After 0                       37055
0                         442
-0.020091829              165
0.057142859000000004      103
0.255550626                97
2                          71
0.127775314                16
0.44261957799999996         8
0.069985428                 6
Name: Col791, dtype: int64

Before 0.0    36801
-       1162
Name: Col813, dtype: int64
After 0    36801
2     1162

### Separating the Y variable

In [43]:
y = train_df.iloc[:,[1]]
print( y.sample(5))
y.shape

       Col2
5661      0
663       0
13012     0
4886      0
71        0

(17521, 1)

In [44]:
y.columns

Index(['Col2'], dtype='object')

In [45]:
null_cols(y,y.columns)

[]

### t-SNE

 n | divergence | time
---|---| ---
3| 1.552975 | 50 mins

In [46]:
if X.isna().sum().sum() < 1:
  model = TSNE(n_components=3,random_state=0,verbose=1)
  tsne_data = model.fit_transform(X)
  np.save('tsne',tsne_data)
else:
  print('Null vals present')

[t-SNE] Computing 91 nearest neighbors...
[t-SNE] Indexed 37963 samples in 5.637s...
[t-SNE] Computed neighbors for 37963 samples in 986.562s...
[t-SNE] Computed conditional probabilities for sample 1000 / 37963
[t-SNE] Computed conditional probabilities for sample 2000 / 37963
[t-SNE] Computed conditional probabilities for sample 3000 / 37963
[t-SNE] Computed conditional probabilities for sample 4000 / 37963
[t-SNE] Computed conditional probabilities for sample 5000 / 37963
[t-SNE] Computed conditional probabilities for sample 6000 / 37963
[t-SNE] Computed conditional probabilities for sample 7000 / 37963
[t-SNE] Computed conditional probabilities for sample 8000 / 37963
[t-SNE] Computed conditional probabilities for sample 9000 / 37963
[t-SNE] Computed conditional probabilities for sample 10000 / 37963
[t-SNE] Computed conditional probabilities for sample 11000 / 37963
[t-SNE] Computed conditional probabilities for sample 12000 / 37963
[t-SNE] Computed conditional probabilities for sample 13000 / 37963
[t-SNE] Computed conditional probabilities for sample 14000 / 37963
[t-SNE] Computed conditional probabilities for sample 15000 / 37963
[t-SNE] Computed conditional probabilities for sample 16000 / 37963
[t-SNE] Computed conditional probabilities for sample 17000 / 37963
[t-SNE] Computed conditional probabilities for sample 18000 / 37963
[t-SNE] Computed conditional probabilities for sample 19000 / 37963
[t-SNE] Computed conditional probabilities for sample 20000 / 37963
[t-SNE] Computed conditional probabilities for sample 21000 / 37963
[t-SNE] Computed conditional probabilities for sample 22000 / 37963
[t-SNE] Computed conditional probabilities for sample 23000 / 37963
[t-SNE] Computed conditional probabilities for sample 24000 / 37963
[t-SNE] Computed conditional probabilities for sample 25000 / 37963
[t-SNE] Computed conditional probabilities for sample 26000 / 37963
[t-SNE] Computed conditional probabilities for sample 27000 / 37963
[t-SNE] Computed conditional probabilities for sample 28000 / 37963
[t-SNE] Computed conditional probabilities for sample 29000 / 37963
[t-SNE] Computed conditional probabilities for sample 30000 / 37963
[t-SNE] Computed conditional probabilities for sample 31000 / 37963
[t-SNE] Computed conditional probabilities for sample 32000 / 37963
[t-SNE] Computed conditional probabilities for sample 33000 / 37963
[t-SNE] Computed conditional probabilities for sample 34000 / 37963
[t-SNE] Computed conditional probabilities for sample 35000 / 37963
[t-SNE] Computed conditional probabilities for sample 36000 / 37963
[t-SNE] Computed conditional probabilities for sample 37000 / 37963
[t-SNE] Computed conditional probabilities for sample 37963 / 37963
[t-SNE] Mean sigma: 0.000000
[t-SNE] KL divergence after 250 iterations with early exaggeration: 89.452583
[t-SNE] KL divergence after 1000 iterations: 1.989971

In [47]:
tsne_data.shape

(37963, 3)

In [49]:
type(tsne_data)

numpy.ndarray

## EDA

In [0]:
# X_train and X_test are both without ID column
X_train = tsne_data[:train_last_index]
X_test = tsne_data[train_last_index:]

In [51]:
X_train[:10]

array([[ 12.966208 ,   7.6291747, -10.028655 ],
       [-14.196468 ,  21.274002 ,  -8.30545  ],
       [-17.39448  ,  20.732141 ,  -0.725202 ],
       [-15.47157  ,  21.346645 ,  -1.2622602],
       [-17.6458   ,  20.615833 ,  -0.7474113],
       [-15.011502 ,  21.37602  ,  -1.7775688],
       [  3.7999327,  -9.978249 ,   4.8382   ],
       [  3.3549275,   3.6714833, -10.211234 ],
       [  6.1283283,   1.5645589,   6.205583 ],
       [ 12.628237 ,  10.502278 , -15.479282 ]], dtype=float32)

In [52]:
X_train.shape

(17521, 3)

In [53]:
join_data = np.hstack((X_train,y))
print(join_data.shape)
dfa = pd.DataFrame(join_data,columns=("dim1",'dim2','dim3','label'))
dfa.head()

(17521, 4)

        dim1       dim2       dim3  label
0  12.966208   7.629175 -10.028655    1.0
1 -14.196468  21.274002  -8.305450    0.0
2 -17.394480  20.732141  -0.725202    0.0
3 -15.471570  21.346645  -1.262260    0.0
4 -17.645800  20.615833  -0.747411    0.0

In [57]:
dfa.describe()

               dim1          dim2          dim3         label
count  17521.000000  17521.000000  17521.000000  17521.000000
mean      -0.304923     -0.110430     -0.087895      0.100508
std       10.946952     11.210497     10.088150      0.300685
min      -23.939781    -24.082001    -21.857027      0.000000
25%       -9.103204     -9.647172     -8.245725      0.000000
50%       -0.146481      0.380391     -0.070401      0.000000
75%        8.429140      8.930604      8.053248      0.000000
max       25.324026     26.590508     23.967939      1.000000

### dim1 v/s dim2

In [0]:
ax = sns.FacetGrid(dfa,hue="label",height=6).map(sns.distplot,'dim1').add_legend()
ax1 = sns.FacetGrid(dfa,hue="label",height=6).map(sns.distplot,'dim2').add_legend()
ax3 = sns.FacetGrid(dfa,hue="label",height=6).map(sns.distplot,'dim3').add_legend()

## Modelling

In [59]:
X_train.shape, y.shape, X_test.shape

((17521, 3), (17521, 1), (20442, 3))

### Test data prep

In [60]:
test_id = test_df.iloc[:,0]
test_id.shape

(20442,)

In [62]:
test = pd.DataFrame(X_test,columns=["dim1",'dim2','dim3'])
test.describe()

               dim1          dim2          dim3
count  20442.000000  20442.000000  20442.000000
mean       0.344181     -0.077773      0.218283
std       10.500479     10.951061     10.244196
min      -24.032606    -24.129465    -21.797735
25%       -7.882465     -9.187041     -7.969855
50%        0.811122      0.172071     -0.026267
75%        8.608865      8.602738      8.531698
max       25.332592     26.505873     23.942247

In [0]:
# logistic baseline classification model
# accuracy: 0.8994920381256778
# Leaderboard: 84.03866
from sklearn.linear_model import LogisticRegression

clf = LogisticRegression(random_state=0, solver='saga',multi_class='ovr').fit(X_train, y['Col2'])

In [0]:
# Random forest
# accuracy: 0.8994920381256778
# Leaderboard: 
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(n_estimators=100, max_depth=2,random_state=0).fit(X_train, y['Col2'])

In [129]:
# XGBoost
import xgboost as xgb

train_X_mat = np.matrix(X_train)
test_X_mat = np.matrix(X_test)

gbm = xgb.XGBClassifier(max_depth=3, n_estimators=300, learning_rate=0.05).fit(train_X_mat, y)
predictions = gbm.predict(test_X_mat)

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/label.py:219: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/label.py:252: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [0]:
# Decision tree
# accuracy: 0.9971462816049312
# Leaderboard: 81.30581
from sklearn.tree import DecisionTreeClassifier

clf = DecisionTreeClassifier(random_state = 0).fit(X_train, y['Col2'])

## Evaluation

In [0]:
# Evaluate train accuracy
from sklearn.metrics import f1_score,accuracy_score

print(clf)
y1 = clf.predict(X_train)

# yTrue, yPred
# f1_score(y['Col2'],y1,average='binary')
accuracy_score(y['Col2'],y1)

In [135]:
accuracy_score(y['Col2'],predictions)

0.8994920381256778

In [120]:
sample = pd.read_csv(path+'Sample_submission.csv')
y_test = clf.predict(test)
print(sum(y_test))

2243

In [114]:
test_df.iloc[:,0].shape,y_test.shape

((20442,), (20442,))

In [0]:
sample.drop(index=sample.index,inplace=True)

In [0]:
sample['Col1'] = test_df.iloc[:,0]
sample['Col2'] = y_test 
sample.to_csv('out.csv',index=False)

## Can try

In [0]:
# Clean outlier in data
# Replacing numeric values with median and cat with mode
# Deciding the number of components for tsne
# Feature selection if ML
# grid search
# Random search
# neural network
# XGBoost 
# lightgbm
# Shuffle and fill values for second time
# 0   and 0.0 were different