## Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.manifold import TSNE

In [12]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

## Preprocessing

In [13]:
path = "./drive/My Drive/data/"
train_path = path+"Train.csv"
test_path = path+"Test.csv"

train_df = pd.read_csv(train_path)
test_df = pd.read_csv(test_path)
train_df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (746,835) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (700,731,740,752,761,789,811,820,829,841,850) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

        Col1  Col2          Col3  ...  Col2395  Col2396  Col2397
0    RIGHGSN     1  1.086711e+04  ...     22.0     22.0      7.0
1  RIMHI5ZGP     0  2.584312e+05  ...     12.0     12.0     11.0
2  RIHOG1SZU     0  1.459355e+07  ...     21.0     21.0     16.0
3  RIHOLMQWU     0  6.727043e+05  ...    951.0    951.0    743.0
4  RIHO584ET     0 -1.218742e+06  ...   2205.0   2205.0   1831.0

[5 rows x 2395 columns]

In [25]:
test_df.sample(5)

           Col1          Col3          Col4  ...  Col2395  Col2396  Col2397
6401   YDGOG5NJ   5589.063333   5808.070000  ...      8.0      8.0      4.0
10890  O9YWG1NY  11903.473330  16834.788180  ...     41.0     41.0     13.0
7229   72MW51YZ  33310.576670  11329.371670  ...      9.0      8.0      6.0
1967   O7WR61Z5   1151.430000    970.352727  ...     18.0     17.0      6.0
1156   OIHRIO45  33202.770000  27680.205000  ...     24.0     24.0     12.0

[5 rows x 2394 columns]

1st column is ID and Second columns is Target variable

In [0]:
train_df.shape, test_df.shape

((17521, 2395), (20442, 2394))

## Feature Selection