<a href="https://colab.research.google.com/github/p-s-vishnu/banking-behaviour-scorecard/blob/master/kernel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.manifold import TSNE

In [69]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## Preprocessing

In [70]:
path = "./drive/My Drive/data/Train.csv"
train_df = pd.read_csv(path)
train_df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (746,835) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

        Col1  Col2          Col3  ...  Col2395  Col2396  Col2397
0    RIGHGSN     1  1.086711e+04  ...     22.0     22.0      7.0
1  RIMHI5ZGP     0  2.584312e+05  ...     12.0     12.0     11.0
2  RIHOG1SZU     0  1.459355e+07  ...     21.0     21.0     16.0
3  RIHOLMQWU     0  6.727043e+05  ...    951.0    951.0    743.0
4  RIHO584ET     0 -1.218742e+06  ...   2205.0   2205.0   1831.0

[5 rows x 2395 columns]

1st column is ID and Second columns is Target variable

In [71]:
X = train_df.iloc[:,2:]

X.shape

(17521, 2393)

In [0]:
# Columns Null check
def null_cols(d,columns):
  na = d[columns].isna().sum().sort_values(ascending=False)
  return na[na > 0].index.to_list()

In [73]:
# Numerical columns
num_cols = X.select_dtypes(include="number").columns
print('Total',len(num_cols))

na_cols = null_cols(X,num_cols)
print('1.Null columns',len(na_cols))

if len(na_cols) > 0:
  X[na_cols]= X[na_cols].fillna(method='ffill')
  X[na_cols]= X[na_cols].fillna(method='bfill')
  na_cols = null_cols(X,num_cols)
  print('2.Null columns',len(na_cols))

Total 2391
1.Null columns 757
2.Null columns 0

### Categorical columns

In [82]:
cat_cols = X.select_dtypes(exclude="number").columns.to_list()

print('Total',len(cat_cols))
na_cols = null_cols(X,cat_cols)
print('1.Null columns',len(na_cols))

if len(na_cols) > 0:
  X[na_cols]= X[na_cols].fillna(method='ffill')
  X[na_cols]= X[na_cols].fillna(method='bfill')
  na_cols = null_cols(X,cat_cols)
  print('2.Null columns',len(na_cols))

Total 2
1.Null columns 2
2.Null columns 0

In [75]:
cat_cols

['Col747', 'Col836']

In [83]:
print(X['Col747'].value_counts())
X['Col747'] = X['Col747'].replace({0.0:0,'-':2})

X['Col747'].value_counts()

0      12057
2       3219
0       2168
1         43
3         27
5.0        7
Name: Col747, dtype: int64

0    14225
2     3219
1       43
3       27
5        7
Name: Col747, dtype: int64

In [84]:
print(X['Col836'].value_counts())

X['Col836'] = X['Col836'].replace({0.0:0,'-':2})

X['Col836'].value_counts()

0    11961
2     3614
0     1934
5       12
Name: Col836, dtype: int64

0    13895
2     3614
5       12
Name: Col836, dtype: int64

### Separating the Y variable

In [78]:
y = train_df.iloc[:,[1]]
print( y.head())
y.shape

   Col2
0     1
1     0
2     0
3     0
4     0

(17521, 1)

In [79]:
y.columns

Index(['Col2'], dtype='object')

In [80]:
null_cols(y,y.columns)

[]

### t-SNE

 n | divergence |
---|---|
3| 1.552975

In [85]:
if X.isna().sum().sum() < 1:
  model = TSNE(n_components=3,random_state=0,verbose=1)

  tsne_data = model.fit_transform(X)
else:
  print('Null vals present')

[t-SNE] Computing 91 nearest neighbors...
[t-SNE] Indexed 17521 samples in 3.476s...
[t-SNE] Computed neighbors for 17521 samples in 318.559s...
[t-SNE] Computed conditional probabilities for sample 1000 / 17521
[t-SNE] Computed conditional probabilities for sample 2000 / 17521
[t-SNE] Computed conditional probabilities for sample 3000 / 17521
[t-SNE] Computed conditional probabilities for sample 4000 / 17521
[t-SNE] Computed conditional probabilities for sample 5000 / 17521
[t-SNE] Computed conditional probabilities for sample 6000 / 17521
[t-SNE] Computed conditional probabilities for sample 7000 / 17521
[t-SNE] Computed conditional probabilities for sample 8000 / 17521
[t-SNE] Computed conditional probabilities for sample 9000 / 17521
[t-SNE] Computed conditional probabilities for sample 10000 / 17521
[t-SNE] Computed conditional probabilities for sample 11000 / 17521
[t-SNE] Computed conditional probabilities for sample 12000 / 17521
[t-SNE] Computed conditional probabilities for sample 13000 / 17521
[t-SNE] Computed conditional probabilities for sample 14000 / 17521
[t-SNE] Computed conditional probabilities for sample 15000 / 17521
[t-SNE] Computed conditional probabilities for sample 16000 / 17521
[t-SNE] Computed conditional probabilities for sample 17000 / 17521
[t-SNE] Computed conditional probabilities for sample 17521 / 17521
[t-SNE] Mean sigma: 0.000000
[t-SNE] KL divergence after 250 iterations with early exaggeration: 82.868340
[t-SNE] KL divergence after 1000 iterations: 1.552975

In [88]:
tsne_data.shape

(17521, 3)

## EDA

In [92]:
np.hstack((tsne_data,y)).shape

(17521, 4)

In [95]:
join_data = np.hstack((tsne_data,y))
dfa = pd.DataFrame(join_data,columns=("dim1",'dim2','dim3','label'))
dfa.head()

        dim1       dim2       dim3  label
0  21.475069  -4.415465   5.827500    1.0
1   5.372247   8.917239  24.667055    0.0
2   1.860934  10.122095  25.241201    0.0
3   1.191403   8.482532  26.295971    0.0
4   1.915629  10.173975  25.171600    0.0

## Modelling

In [0]:
# logistic baseline classification model
# Random forest

## Evaluation

In [0]:
# Evaluate F1-score

## Can try

In [0]:
# Replacing numeric values with median and cat with mode
# Shuffle and fill values for second time
# Deciding the number of components for tsne
# Feature selection if ML
# grid search
# Random search
# neural network
# XGBoost 
# lightgbm
# 0   and 0.0 were different